.col-md-10{
    padding:0;

}
.is-new{
    align-items: center;
    display: flex;
    gap: 13px;
}
.is-new input[type="checkbox"] {
    width: 16px;
    height: 16px;
}
.form-group, .checkbox-inline{
    margin:0;
    margin-bottom:3px;
}
.content{

    width:50%;
    margin-top:12px;
    border-radius: 10px;
    padding: 25px;
    background-color: #2453;

}
.content > h3{
    margin-bottom:15px;
}


.content-con{

gap:10px;
    display:flex;
}
.checkbox-inline, .radio-inline{
    display:block;
}

