{% extends 'layout/base.html' %}

{% block content %}

<div class="hero-section">
    <div class="overlay">
        <h1 class="display-4 text-white">Chăm Sóc Xe Chuyên Nghiệp 24/7</h1>
        <p class="lead text-white-50">Dịch vụ sửa chữa và bảo dưỡng xe hơi uy tín, nhanh chóng.</p>

        <div class="d-flex justify-content-center mt-4">
            <a href="/?item_id=2" class="btn btn-warning btn-lg me-3">Đặt lịch ngay</a>

        </div>
    </div>
</div>

<hr>

<h2 class="text-center my-4 text-info"> DỊCH VỤ NỔI BẬT </h2>

<div class="row">
    {% for s in services[:3] %}
    <div class="col-md-4 col-12 mt-3 p-2">
        <div class="card h-100 shadow">
            <img class="card-img-top" src="{{s.image}}" alt="Service image">
            <div class="card-body">
                <h4 class="card-title">{{s.name}}</h4>
                <p class="card-text"> {{s.description | truncate(80)}}</p>
                <p class="card-text text-info fw-bold">{{s.price}} VNĐ</p>
                <a href="#" class="btn btn-primary mt-2">Đặt dịch vụ</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="text-center my-5">
    <a href="?item_id=1" class="btn btn-outline-secondary btn-lg">
        Xem tất cả dịch vụ &raquo;
    </a>
</div>

{% endblock %}