{% extends 'layout/base.html'%}

{% block tittle %} Đăng nhập {% endblock %}

{% block content %}
<div class="text-info text-center mt-3">
    <h1> TRANG ĐĂNG NHẬP </h1>
    {% if err_msg_html %}
    <div class="alert alert-danger">{{err_msg_html}}</div>
    {% endif %}
    <form method="POST">
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="email"  name="username">
            <label >Username</label>
        </div>

        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="pwd" p name="password">
            <label >Password</label>
        </div>
         <div class="form-floating mt-3 mb-3">
            <button class="btn btn-info" type="submit"> Đăng nhập </button>
        </div>

    </form>

</div>
{% endblock %}