{% extends 'layout/base.html' %}

{% block title %}{{ _("Đăng nhập - Garage Center") }}{% endblock %}

{% block content %}
<div class="text-info text-center mt-3">
    {% if err_msg %}
    <div class="alert alert-danger">{{ err_msg }}</div>
    {% endif %}

    <form class="sign-up__form" method="POST">
        <div class="sign-up__content">
            <h2 class="sign-up__title">{{ _("Đăng nhập") }}</h2>
            <input class="sign-up__inp" type="text" placeholder="{{ _('Tên đăng nhập') }}" name="username" required="required"/>
            <input class="sign-up__inp" type="password" placeholder="{{ _('Mật khẩu') }}" name="password" required="required"/>
            <a class="forgot__password" href="{{ url_for('forgot_password') }}">{{ _("Quên mật khẩu?") }}</a>
        </div>
        <div class="sign-up__buttons">
            <a class="btn btn--register" href="/register">{{ _("Tạo tài khoản") }}</a>
            <button class="btn btn--signin" type="submit">{{ _("Đăng nhập") }}</button>
        </div>
    </form>
</div>
<style>

</style>
{% endblock %}