<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-tools"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Garage Admin</div>
    </a>

    <hr class="sidebar-divider">

    <!-- Loop menu by Flask-Admin -->
    {% for menu in admin_view.admin.menu() %}
        <li class="nav-item">
            <a class="nav-link" href="{{ menu.get_url() }}">
                <i class="fas fa-list"></i>
                <span>{{ menu.name }}</span>
            </a>
        </li>
    {% endfor %}

    <hr class="sidebar-divider d-none d-md-block">

</ul>
