{% extends 'admin/master.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_index.css') }}">
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3 dashboard-card">
            <div class="card-body">
                <h5 class="card-title">VAT</h5>
                <p class="card-text">{{ (vat * 100)|round(2) }}%</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3 dashboard-card">
            <div class="card-body">
                <h5 class="card-title">Số xe đã tiếp nhận hôm nay</h5>
                <p class="card-text">{{ slots_today }} / {{ max_slot }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-warning mb-3 dashboard-card">
            <div class="card-body">
                <h5 class="card-title">Số xe đang sửa</h5>
                <p class="card-text">{{ repairing }}</p>
            </div>
        </div>
    </div>
</div>

<div class="quick-actions">
    <a href="{{ url_for('receptionform.create_view') }}" class="btn btn-primary">
       <i class="fa fa-solid fa-plus"></i> Thêm Phiếu Tiếp Nhận
    </a>
    <a href="{{ url_for('repairform.create_view') }}" class="btn btn-success">
        <i class="fa fa-solid fa-plus"></i> Thêm Phiếu Sửa Chữa
    </a>
    <a href="{{ url_for('customer.create_view') }}" class="btn btn-info">
        <i class="fa fa-solid fa-plus"></i> Thêm Khách Hàng
    </a>
    <a href="{{ url_for('vehicle.create_view') }}" class="btn btn-warning">
        <i class="fa fa-solid fa-plus"></i> Thêm Xe
    </a>
</div>


{% endblock %}