{% extends "admin/model/list.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
{% macro render_repair_status(v) %}
    {% if v == "QUOTED" %}
        <span class="badge text-white p-2 bg-info">Đã báo giá</span>
    {% elif v == "APPROVED" %}
        <span class="badge text-white p-2 bg-primary">Đã duyệt</span>
    {% elif v == "REPAIRING" %}
        <span class="badge text-white p-2 bg-warning">Đang sửa</span>
    {% elif v == "DONE" %}
        <span class="badge text-white p-2 bg-success">Hoàn tất</span>
    {% else %}
        <span class="badge text-white p-2 bg-secondary">Unknown</span>
    {% endif %}
{% endmacro %}


{% macro render_status(v) %}
    {% set value = v.value if v is not number else v %}
    {% if value == 1 %}
        <span class="badge text-white p-2 badge-light-text bg-info">Đã đặt lịch</span>
    {% elif value == 2 %}
        <span class="badge text-white p-2 badge-light-text bg-primary">Đã xác nhận</span>
    {% elif value == 3 %}
        <span class="badge text-white p-2 badge-light-text bg-danger">Đã hủy</span>
    {% elif value == 4 %}
        <span class="badge text-white p-2 badge-light-text bg-success">Đã tiếp nhận</span>
    {% endif %}
{% endmacro %}

{% macro render_vehicle_status(v) %}
    {% set value = v.value if v is not number else v %}

    {% if value == 1 %}
        <span class="badge text-dark p-2 bg-warning">Chờ đến gara</span>

    {% elif value == 2 %}
        <span class="badge text-white p-2  bg-info">Đã nhận xe</span>

    {% elif value == 3 %}
        <span class="badge text-white p-2  bg-primary">Đang kiểm tra</span>

    {% elif value == 4 %}
        <span class="badge text-dark p-2 bg-warning">Chờ khách duyệt</span>

    {% elif value == 5 %}
        <span class="badge text-white p-2 bg-secondary">Đang sửa chữa</span>

    {% elif value == 6 %}
        <span class="badge text-white p-2 bg-success">Đã xong</span>

    {% elif value == 7 %}
        <span class="badge text-white p-2 bg-success">Đã giao xe</span>

    {% elif value == 8 %}
        <span class="badge text-white p-2 badge-light-text bg-danger">Đã hủy</span>

    {% else %}
        <span class="badge bg-secondary">{{ value }}</span>
    {% endif %}
{% endmacro %}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">


        {% if admin_view.can_create %}
        <a href="{{ url_for(admin_view.endpoint + '.create_view') }}" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i> Thêm mới
        </a>
        {% endif %}
    </div>

    <div class="card-body">

        <!-- Search -->
        {% if search_supported %}
        <form method="GET" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm..." name="search" value="{{ search }}">
                <button class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
        </form>
        {% endif %}

        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                <tr>
                    {% for c, name in list_columns %}
                    <th>{{ name }}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for row in data %}
                <tr>
                    {% for c, name in list_columns %}
                    <td>
                        {% if c == 'active' %}
                            {% if row[c] %}
                                <span class="fa fa-check-circle text-success" title="active: true"></span>
                            {% else %}
                                <span class="fa fa-minus-circle text-danger" title="active: false"></span>
                            {% endif %}
                        {% elif c == 'status' %}
                            {{ render_status(row[c]) }}
                        {% elif c == 'vehicle_status' %}
                            {{ render_vehicle_status(row[c]) }}
                        {% elif c == 'repair_status' %}
                            {{ render_repair_status(row[c]) }}
                        {% else %}
                            {{ get_value(row, c) }}
                        {% endif %}
                    </td>
                    {% endfor %}


                    <td class="text-center">
                        {% if admin_view.can_edit %}
                        <a href="{{ url_for(admin_view.endpoint + '.edit_view', id=row.id) }}"
                           class="btn btn-warning btn-sm">
                            <i class="fa fa-edit"></i>
                        </a>
                        {% endif %}

                        {% if admin_view.can_delete %}
                        <form action="{{ url_for(admin_view.endpoint + '.delete_view', id=row.id) }}" method="post"
                              style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Xác nhận xóa?')">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                        {% endif %}

                    </td>

                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

        <!-- Pagination -->
        {% if pagination %}
        <nav class="mt-4">
            <ul class="pagination justify-content-center">

                <!-- Previous -->
                <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                    <a class="page-link" href="{{ pagination.prev() if pagination.has_prev else '#' }}">Previous</a>
                </li>

                <!-- Page numbers -->
                {% for p in pagination.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                {% if p %}
                <li class="page-item {% if p == pagination.page %}active{% endif %}">
                    <a class="page-link" href="{{ pagination.page_url(p) }}">{{ p }}</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">…</span></li>
                {% endif %}
                {% endfor %}

                <!-- Next -->
                <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                    <a class="page-link" href="{{ pagination.next() if pagination.has_next else '#' }}">Next</a>
                </li>

            </ul>
        </nav>
        {% endif %}
    </div>
</div>

{% endblock %}
