<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
{% set current_path = request.path %}
<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark
    {% if current_path == '/' %}
        fixed-top navbar-transparent
    {% else %}
        bg-dark
    {% endif %}
    ">
    <div class="container">         <a class="navbar-brand" href="/">GARAGE CENTER</a>



        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">

            <span class="navbar-toggler-icon"></span>

        </button>



        <div class="collapse navbar-collapse" id="mynavbar">

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">

                    <a class="nav-link active" href="/">Trang chủ</a>

                </li>

                {% for i in items %}

                <li class="nav-item">

                    <a class="nav-link" href="/?item_id={{i.id}}">{{i.name}}</a>

                </li>



                {% endfor %}


                <li class="nav-item">

                    <a class="nav-link" href="/login"><i class="fa-regular fa-user"></i> Đăng nhập</a>

                </li>



                <li class="nav-item">

                    <a class="nav-link" href="/logout">Đăng xuất <i class="fa-solid fa-arrow-right-from-bracket"></i></a>

                </li>



                <li class="nav-item">

                    <a class="nav-link" href="/register">Đăng ký <i class="fa-solid fa-arrow-right-from-bracket"></i></a>

                </li>

            </ul>



            <form class="d-flex" method="get">

                <input class="form-control me-2" type="text" name="kw" placeholder="Nhap tu khoa">

                <button class="btn btn-dark" type="submit">Search</button>

            </form>

        </div>

    </div>

</nav>